html {
  body {
    background: #272042;
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: 300;
    min-height: 100vh;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "VT323", monospace;
}

button {
  color: black !important;
}

.chakra-popover__content {
  max-height: 30vh !important;
  background: #342e59 !important;
  border-radius: 22px !important;
  padding: 12px 30px !important;
  @media screen and (min-width: 62em) {
    max-height: 20vh !important;
  }
}
